@import '../../styles/variables.scss';
@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.backgroundImage {
  height: 440px;
  background-image: url('../../images/img_2.jpg');

  @extend %positioning;
}

.title {
  padding-top: 140px;
  margin-bottom: 226px;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: $white-color;

  @include onSmallDesktop {
    font-size: 48px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: $grey-text-color;

  @include hover(text-shadow, 0 4px 4px rgba(0, 0, 0, 0.25));
}

.controls {
  display: flex;
  gap: 16px;
}

.text {
  align-self: start;
  margin-bottom: 40px;

  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: $black-title-color;
}
