@keyframes changeBackground {
  0% {
    background-image: url('../../images/img_0.jpg');
  }

  30% {
    background-image: url('../../images/img_0.jpg');
  }

  33% {
    background-image: url('../../images/img_1.jpg');
  }

  63% {
    background-image: url('../../images/img_1.jpg');
  }

  66% {
    background-image: url('../../images/img_2.jpg');
  }

  97% {
    background-image: url('../../images/img_2.jpg');
  }

  100% {
    background-image: url('../../images/img_0.jpg');
  }
}