@import "../../styles/variables.scss";
@import "../../styles/extends.scss";

.cardList {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  overflow: hidden;
}

.emptyCard {
  flex-shrink: 0;
  height: 784px;

  @extend %cardSize;
}
