@import "../../styles/variables.scss";

.cardList {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  overflow: hidden;
}

.emptyCard {
  flex-shrink: 0;
  width: 411px;
  height: 784px;
  border: 1px solid $blue-color;
}
