@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/extends.scss";

.card {
  @extend %cardSize;
}

.container {
  padding: 0 32px;
}

.image {
  display: block;
  height: 296px;
  width: 100%;
  margin-bottom: 32px;
  object-fit: cover;
}

.name {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: $black-title-color;
}

.description {
  height: 270px;
  margin-bottom: 64px;

  font-family: 'Lato';
  text-align: center;
  color: $grey-text-color;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 53px;
  width: 278px;
  padding: 12px 0px;

  background-color: $blue-color;

  @include hover(background-color, rgba(30, 30, 30, 0.8));
}

.buttonText {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: $black-color;
}

.favoritesButton {
  background-color: $button-background-color;

  @extend %centered;
  @include square(53px);
  @include hover(background-color, $pink-color);
}
