@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/extends.scss";

.titleGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 96px;
}

.title {
  color: $black-title-color;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.controls {
  display: flex;
  gap: 16px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 96px;
  cursor: pointer;
}

.dot {
  @include hover(transform, scale(1.1));
}
